<ow-hero>
    <ow-random-top [word]="word$ | async"></ow-random-top>
</ow-hero>

<div *ngIf="word$ | async as word; else error" class="word">
    <section class="detail">
        <div class="top">
            <div class="title">
                <h5 class="mono">{{word.theWord}}</h5>
                <small>#{{word.id}}</small>
            </div>
            <div class="actions">
                <img alt="edit" src="/assets/image/pencil-circled.svg" (click)="edit(word)" />
                <img alt="synonyms" src="/assets/image/plus-circled.svg" />
            </div>
        </div>
        <p class="def">{{word.definition}}</p>
        <p>{{word.partOfSpeech}}</p>
        <div class="pair">
            <label>Origin:&nbsp;</label>
            <p>{{word.origin ?? 'N/A' }}</p>
        </div>
        <div class="pair">
            <label>Example:&nbsp;</label>
            <p>{{word.exampleUsage ?? 'N/A' }}</p>
        </div>
        <div class="pair">
            <label>Pronunciation:&nbsp;</label>
            <p>{{word.pronunciation ?? 'N/A' }}</p>
        </div>
        <div class="tags">
            <label>Associated Tags:</label>
            <ow-tags [sTags]="tags"></ow-tags>
        </div>
        <div class="pair">
            <label>Note:&nbsp;</label>
            <p>{{word.note ?? 'N/A' }}</p>
        </div>
        <div class="synonyms">
            <label>Synonyms</label>
            <ow-tags [sTags]="[]"></ow-tags>
        </div>
    </section>

    <section class="meta">
        <div class="column">
            <div class="pair">
                <label>Created By:&nbsp;</label>
                <p>{{ word.createdBy }}</p>
            </div>
            <div class="pair">
                <label>Times Viewed:&nbsp;</label>
                <p>{{ word.timesViewed }}</p>
            </div>
        </div>
        <div class="column">
            <div class="pair">
                <label>Creation Date:&nbsp;</label>
                <p>{{ word.creationDate | date:'EEEE d MMMM y' }}</p>
            </div>
            <div class="pair">
                <label>Creation Time:&nbsp;</label>
                <p>{{ word.creationDate | date:'h:mm:ss a' }}</p>
            </div>
        </div>
    </section>

</div>

<ng-template #error>
    <ow-error>{{errorMessage}}</ow-error>
</ng-template>
