@use '../../../style/colour' as colour;
@use '../../../style/font' as font;
@use '../../../style/mixin' as mxn;

.word {
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5rem 1.5rem 3rem;

    .detail {

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow-x: scroll;

            .actions {
                display: flex;
                justify-content: space-between;

                @include mxn.svg-hover;
            }
        }

        .def {
            padding-bottom: 15px;
            font-size: 1rem;
        }

        .pair {
            display: flex;
            padding-top: 30px;

            label {
                font-family: 'roboto-medium', font.$default-font;
            }

            &.note {
                white-space: pre-wrap;
            }
        }

        .tags,
        .synonyms {
            padding-top: 20px;

            label {
                font-family: 'roboto-medium', font.$default-font;
            }
        }
    }

    .meta {
        display: flex;
        padding-top: 30px;
        padding-bottom: 8px;

        .column {
            width: 48%;

            .pair {
                display: flex;
                margin-top: 1rem;

                label {
                    color: #907f7f;
                    font-family: 'roboto-medium', font.$default-font;
                }

                p {
                    color: #907f7f;
                    font-family: 'roboto-light', font.$default-font;
                }

                &.creation-date {
                    cursor: pointer;
                    transition: all .2s ease;

                    > label {
                        cursor: pointer;
                    }

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
