@import "../../../style/font";

.worms {
    display: flex;

    hr {
        color: #dedddd;
    }

    .words {
        display: flex;
        max-height: 500px;
        overflow-y: scroll;
        flex-wrap: wrap;
        width: 80%;

        .card {
            width: 20%;
            padding: 1rem;
            border: 1px solid #dedddd;
            cursor: pointer;
            box-shadow: 0 2px 4px -5px #101010;
            transition: all .1s ease-in-out;
            margin: .5rem;

            .word {
                font-weight: bold;
            }

            .definition {
                font-size: 12px;
                padding-top: .5rem;
                padding-bottom: 1rem;
            }

            .part-of-speech {
                font-size: 13px;
            }

            &:hover {
                background-color: #f6f6f6;
            }
        }
    }

    .words-none {
        padding: 2rem;
        width: 80%;
    }

    .words-loading {
        width: 80%;
    }
}

.no-worms {
    width: 100%;
    padding: 3rem;

    .message {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
}
