<ow-hero>
    <ow-random-top></ow-random-top>
</ow-hero>

<ow-filter (showChange)="chunkChanged($event, 0)"></ow-filter>
<ng-container *ngIf="words$ | async as words; else error">
    <div class="worms">
        <div class="words">
            <ow-word-card *ngFor="let word of words | chunkPipe: wordsToShow"
                          [word]="word"></ow-word-card>
        </div>
    </div>
    <div class="actions">
        <button (click)="showLess()" [disabled]="disableShowLess">Show {{  increment }} Less</button>
        <button (click)="showMore()" [disabled]="wordsToShow >= words.length">
            Show {{increment}} more
        </button>
        <button (click)="showAll(words.length)" [disabled]="wordsToShow >= words.length"
                class="transparent">
            Show All
        </button>
    </div>
</ng-container>

<ng-template #error>
    <ow-error (actionClick)="reloadWords()" [showAction]="true" actionText="Reload">
        <label>{{ errorMessage ?? 'no message available' }}</label>
    </ow-error>
</ng-template>
