.worms {
    padding-left: 10%;
    padding-right: 10%;
    // TODO
    //background-image: url('/assets/image/bg-bottom.png');

    .filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        padding-bottom: 47px;
    }

    .words {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: hidden;
    }
}

.actions {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
