.filter {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b4242;
    height: 70px;
    width: 30%;

    &:hover {
        cursor: pointer;
    }

    img {
        cursor: pointer;
        margin-right: 1rem;
        padding: .5rem;
        transition: all .2s;

        &:hover {
            background-color: #3d3737;
        }
    }

    .clear {
        width: 100%;
        margin-left: 1rem;

        &.hidden {
            width: 0;
            margin-left: 0;
        }
    }
}

.existing {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1rem;
    margin-left: .7rem;
}

.count {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
