<article class="filter">
    <img (click)="showModal = true" alt="filter icon" src="/assets/image/icon-filter.svg" />
    <div class="clear">
        <button (click)="clearFilters()" *ngIf="existingFilters?.length > 0" class="transparent">
            Clear Filters
        </button>
    </div>
</article>

<ng-container *ngIf="existingFilters?.length > 0">
    <div class="existing">
        <ow-tags [sTags]="existingFilters"></ow-tags>
    </div>
    <div class="count">
        <label>{{ wordCount$ | async }} results</label>
    </div>
</ng-container>

<ng-container *ngIf="showModal">
    <ow-filter-modal (modalClosed)="filter()"></ow-filter-modal>
</ng-container>
