@import "../../style/font";

.sticky {
    position: sticky;
    top: -1px;
    background-color: #ffffff;
}

.worms {
    border-top: 1px solid #dedddd;

    hr {
        color: #dedddd;
    }

    .words {
        display: flex;
        margin-top: 3rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        width: 70%;

        .card {
            width: 20%;
            padding: 1rem;
            border: 1px solid #dedddd;
            cursor: pointer;
            box-shadow: 0 2px 4px -5px #101010;
            transition: all .1s ease-in-out;
            margin: .5rem;

            .word {
                font-weight: bold;
            }

            .definition {
                font-family: 'ssp-italic';
            }

            &:hover {
                background-color: #f6f6f6;
            }
        }
    }
}
