<div class="sticky">
    <ow-top></ow-top>
</div>
<div class="worms" *ngIf="words && words.length !== 0; else empty;">
    <div class="words">
        <div *ngFor="let word of words | chunkPipe: numberOfElements"
             class="card">
            <h3 class="word">{{ word.theWord }}</h3>
            <p class="definition">{{ word.definition }}</p>
            <p class="pos">{{ word.partOfSpeech }}</p>
        </div>
        <div (click)="showMore()" class="card more" *ngIf="words.length - numberOfElements > 0">
            <h3>Click to show more</h3>
            <p>{{ words.length - numberOfElements }} more words to show</p>
        </div>
    </div>
    <ow-filter (filterChange)="updateQueryParams($event)" [existingFilter]="existingFilter"></ow-filter>
</div>

<ng-template #empty>
    <div class="no-worms">
        <h2>We couldn't find any words. Maybe try again?</h2>
    </div>
</ng-template>
