@use '../../../style/colour' as colour;
@use '../../../style/mixin' as mxn;

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0b0b;
    color: #ffffff;
    padding-bottom: .5rem;
    padding-top: .5rem;

    > div#menu-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1rem;

        ::ng-deep img {
            margin-left: 1rem;
            width: 40px;
            height: 40px;
            @include mxn.opacity-hover;
        }
    }

    > dialog#responsive-menu {
        display: block;
        position: absolute;
        overflow-y: scroll;
        width: 100%;
        height: 0;
        background-color: #121212;
        left: 0;
        right: 0;
        top: -35px;
        z-index: 90000;
        text-align: center;
        transition: all .45s ease-in;

        &.show {
            height: 100vh;
            padding-top: 1rem;
            top: 0;
        }

        // close icon, shuffle/random icon
        & > img {
            padding-top: 1rem;
            width: 10%;

            // shuffle
            &:first-of-type {
                width: 15%;
                margin-bottom: -1rem;
            }
        }

        // logo
        > div {
            margin-top: 3rem;

            ::ng-deep img {
                width: 30%;
                margin-right: -13px;
            }
        }
    }

    > div:nth-of-type(2) {
        display: none;
    }

    > div#actions {
        display: none;
        justify-content: space-between;
        margin-right: 1rem;

        > img {
            width: 48px;
            margin-left: 1rem;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }
}

@media screen and (min-width: 920px) {

    header {

        > div#menu-toggle, > dialog#responsive-menu {
            display: none !important;
        }

        > div:nth-of-type(2) {
            display: flex;
            align-items: center;

            // img
            ::ng-deep img {
                margin-left: 1rem;
            }
        }

        div#actions {
            width: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 1rem;

            > img {
                width: 40px;
                margin-left: 1rem;
                @include mxn.opacity-hover;
            }
        }
    }
}
