@use '../../../style/colour' as colour;
@use '../../../style/mixin' as mxn;

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0b0b;
    color: #ffffff;
    padding-bottom: .5rem;
    padding-top: .5rem;

    > div {
        &#menu-toggle {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 1rem;

            img {
                margin-left: 1rem;
                width: 40px;
                height: 40px;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }

    > nav#responsive-menu {
        position: absolute;
        overflow-y: scroll;
        width: 100%;
        height: 0;
        background-color: #121212;
        left: 0;
        right: 0;
        top: 0;
        z-index: 90000;
        text-align: center;
        transition: all .45s ease-in;

        &.show {
            height: 100vh;
            padding-top: 1rem;
        }

        div {
            display: flex;
            justify-content: center;

            > img {
                @include mxn.transition;
            }

            > img:hover {
                opacity: .7;
            }

            &:nth-of-type(2) {
                padding-top: 2rem;

                & > img {
                    width: 10%;
                }
            }
        }

        li, a {
            display: flex;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            width: 80%;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: #fff;
            letter-spacing: 4px;
            cursor: pointer;
        }
    }

    > div#actions {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;

        > img {
            width: 48px;
            margin-left: 1rem;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }
}

@media screen and (min-width: 920px) {
    #menu-toggle, #responsive-menu {
        display: none;
    }

    header {

        > div {
            display: flex;
            align-items: center;

            // img
            > span {
                display: block;
                padding-left: 1rem;

                > img {
                    cursor: pointer;
                    @include mxn.transition;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            nav {
                > ul {
                    display: flex;

                    > li {
                        padding-right: 1rem;
                        @include mxn.transition;
                        color: #f2f2f2;
                        margin-left: 1rem;
                        margin-right: 1rem;

                        > span,
                        > a {
                            @include mxn.nav-link;
                            display: block;

                            &:hover {
                                color: colour.$secondary;
                            }
                        }
                    }
                }
            }
        }

        #actions {
            display: flex;
            justify-content: space-between;
            width: 25%;
            margin-right: 1rem;

            > img {
                width: 40px;
                margin-left: 1rem;
                @include mxn.opacity-hover;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}
