.button {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #dedddd;
    padding: .5rem;
    text-transform: uppercase;
    transition: all .1s ease-in;
    width: 100%;

    &:hover {
        background-color: #faf8f8;
    }

    &:not(.disabled) {
        cursor: pointer;
    }
}
