<div class="dropdown">
    <div class="dropdown-title" (click)="invertClosed()">
        <label>{{ getTitle() }}</label>
        <ow-button (onButtonClick)="clearSelection($event)" [disabled]="disabled">X</ow-button>
    </div>
    <div class="dropdown-list" [class.closed]="closed">
        <div class="dropdown-item" *ngFor="let item of items"
             [class.selected]="isSelected(item.value)"
             (click)="selectItem(item)">
            <label>{{ item.value }}</label>
        </div>
    </div>
</div>
