.dropdown {
    position: relative;
    width: 100%;
    border: 1px solid #dedddd;
    background-color: #fff;
    box-shadow: 0 2px 4px -5px #101010;

    .closed {
        display: none;
    }

    .dropdown-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .3rem;

        &:hover {
            background-color: #faf8f8;
        }

        .disabled {
            background-color: #000;
            cursor: not-allowed;
        }
    }

    .dropdown-list {
        position: absolute;
        background-color: #ffffff;
        z-index: 5000;
        width: 100%;
        max-height: 300px;

        .dropdown-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: background-color .2s ease-out;
            cursor: pointer;
            border-top: 1px solid #dedddd;
            border-bottom: 1px solid #dedddd;
            padding-top: .3rem;
            padding-bottom: .3rem;

            &:hover {
                background-color: #faf8f8;
            }

            &.selected {
                background-color: #faf8f8;
            }

            label {
                cursor: pointer;
            }
        }
    }
}
