.input {
    padding-top: .5rem;
    padding-bottom: .5rem;
    //border: 1px solid #dedddd;
    border: none;
    transition: all .1s ease-out;

    &:focus-visible {
        border: none;
        box-shadow: none;
        outline: none;
    }

    &:hover {
        background-color: #f6f6f6;
    }
}
