<ow-hero>
    <ow-random-top></ow-random-top>
</ow-hero>

<section class="tabs">
    <ul>
        <li (click)="setState('about')">
            <button [class.transparent]="state !== 'about'">About</button>
        </li>
        <li (click)="setState('creds')">
            <button [class.transparent]="state !== 'creds'">Credentials</button>
        </li>
    </ul>
</section>

<section [ngSwitch]="state" class="about">
    <article *ngSwitchCase="'about'" class="info">
        <h5>Why this app?</h5>
        <p>{{ paraOne }}</p>
        <p>{{ paraTwo }}</p>
        <p>{{ paraThree }}</p>
        <p>{{ paraFour }}</p>
    </article>
    <ow-credentials *ngSwitchCase="'creds'"></ow-credentials>
</section>
