<ow-hero>
    <ow-random-top [word]="word"></ow-random-top>
</ow-hero>

<div [ngSwitch]="state" class="word-random">
    <ng-container *ngSwitchCase="'complete'">
        <ow-word-form
            [title]="'Random Word #' + word.id"
            [viewOnly]="true"
            [word]="word"></ow-word-form>
        <div class="button-row">
            <button (click)="loadWord()">Load Another</button>
        </div>
    </ng-container>
    <div *ngSwitchCase="'loading'" class="word-random-loading">
        <label>Loading...</label>
    </div>
</div>
