<form [formGroup]="form">
    <fieldset>
        <input [required]="true"
               name="username"
               placeholder="username"
               formControlName="u"/>
    </fieldset>
    <fieldset>
        <input [required]="true"
               name="password"
               placeholder="password"
               type="password"
               formControlName="p"/>
    </fieldset>
</form>

<section class="actions">
    <button (click)="submit()" [disabled]="buttonDisabled">Authenticate</button>
    <button (click)="cancel()" [disabled]="buttonDisabled" class="below transparent">Cancel</button>
</section>
