<div class="top">
    <div class="items">
        <div class="item logo">
            <img alt="oworms logo" src="/assets/image/logo.svg">
        </div>
        <div (click)="navigate(item)"
             *ngFor="let item of items"
             class="item">
            <label>{{ item.name }}</label>
        </div>
        <div (click)="getCSV()" class="item">
            <label>csv</label>
        </div>
    </div>
    <div class="actions">
        <button (click)="navigateToRandom()" class="icon">
            <img alt="" src="/assets/image/icon-shuffle.svg">
            random
        </button>
        <button (click)="navigateToAdd()" class="icon">
            <img alt="+" src="/assets/image/icon-plus.svg">
            add
        </button>
    </div>
</div>
