@use '../../../style/colour' as colour;

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: .5rem;
    padding-top: .5rem;

    section {
        &.menu-toggle {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    > nav {
        position: absolute;
        overflow-y: scroll;
        width: 100%;
        height: 100vh;
        background-color: #121212;
        left: 0;
        right: 0;
        top: 0;
        z-index: 90000;
        text-align: center;
        padding-top: 1rem;

        li, a {
            display: flex;
            align-items: center;
            padding: 1rem;
            justify-content: center;
        }

        div.logo-holder {
            padding-top: 1rem;
            text-align: center;
        }

        button {
            margin: 0;

            &:nth-of-type(1) {
            margin-top: 3rem;
        }

            &:not(:last-of-type) {
                margin-bottom: .5rem;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 600px) {
    header {

        section {
            display: flex;
            align-items: center;

            span {
                width: 10%;
                padding-left: 1rem;
            }

            nav {
                ul {
                    display: flex;

                    li, a {
                        padding: 1rem;
                        transition: background-color .1s ease-in-out;
                        color: #f2f2f2;
                        text-decoration: none;

                        &:not(last-of-type) {
                            margin-right: .5rem;
                        }

                        label {
                            cursor: pointer;
                            transition: all .25s ease-in;

                            &:hover {
                                color: colour.$secondary;
                            }
                        }
                    }
                }
            }

            &.responsive-menu {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin-right: 1rem;

            .profile {
                width: 40px;
                margin-left: 1rem;
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}
