<header>

    <!-- responsive menu -->

    <section *ngIf="showBurger" id="menu-toggle">
        <img alt="oworms logo" src="/assets/image/logo.svg" routerLink="/o/worms/all">
        <img src="/assets/image/burger-menu.svg" (click)="expandMenu = true" alt="A burger menu svg icon"/>
    </section>
    <nav id="responsive-menu" [class.show]="expandMenu">
        <img alt="oworms logo" src="/assets/image/logo.svg">

        <li (click)="navigate(item)" *ngFor="let item of responsiveItems" class="item">
            <span>{{ item.name }}</span>
        </li>
        <a href="https://oworms-api.herokuapp.com/swagger-ui/" target="_blank" class="item">
            api
        </a>

        <div>
            <button (click)="navigateToRandom()" class="icon below">
                <img alt="shuffle icon" src="/assets/image/icon-shuffle.svg">
                random
            </button>
            <button class="transparent below" (click)="expandMenu = false">Close</button>
        </div>
    </nav>

    <!-- normal menu -->

    <section *ngIf="!showBurger">
        <span>
            <img alt="oworms logo" src="/assets/image/logo.svg">
        </span>
        <nav>
            <ul>
                <li (click)="navigate(item)" *ngFor="let item of items" class="item">
                    <label>{{ item.name }}</label>
                </li>
                <li (click)="getCSV()" class="item">
                    <label>csv</label>
                </li>
                <a href="https://oworms-api.herokuapp.com/swagger-ui/" target="_blank" class="item">
                    <label>api</label>
                </a>
            </ul>
        </nav>
    </section>

    <section id="actions" *ngIf="!showBurger">
        <button (click)="navigateToRandom()" class="icon">
            <img alt="shuffle icon" src="/assets/image/icon-shuffle.svg">
            random
        </button>
        <button (click)="navigateToAdd()" class="icon">
            <img alt="plus icon" src="/assets/image/icon-plus.svg">
            add
        </button>

        <img src="/assets/image/user.png" alt="user icon" routerLink="/o/profile" class="profile">
    </section>

</header>
