<header>
    <section>
        <span><img alt="oworms logo" src="/assets/image/logo.svg"></span>
        <nav>
            <ul>
                <li (click)="navigate(item)"
                    *ngFor="let item of items"
                    class="item">
                    <label>{{ item.name }}</label>
                </li>
                <li (click)="getCSV()" class="item">
                    <label>csv</label>
                </li>
                <a href="https://oworms-api.herokuapp.com/swagger-ui/" target="_blank" class="item">
                    <label>api</label>
                </a>
            </ul>
        </nav>
    </section>
    <section class="actions">
        <button (click)="navigateToRandom()" class="icon">
            <img alt="" src="/assets/image/icon-shuffle.svg">
            random
        </button>
        <button (click)="navigateToAdd()" class="icon">
            <img alt="+" src="/assets/image/icon-plus.svg">
            add
        </button>
    </section>
</header>
