section {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 80px;
    padding-top: 30px;

    p + p {
        margin-top: 16px;
    }
}

@media screen and (min-width: 600px)  {
    section {
        padding-top: 80px;
    }
}
