<ow-hero>
    <ow-random-top [word]="word$ | async"></ow-random-top>
</ow-hero>

<ow-word-form *ngIf="word$ | async as word; else error"
              (secondBtnClick)="navToDetail(word.uuid)"
              (submitForm)="update(word.uuid, $event)"
              [word]="word"
              btnText="Save Changes"
              secondBtnText="Cancel"
              [title]="'Edit ' + word.theWord"></ow-word-form>

<ng-template #error>
    <ow-error *ngIf="state === 'error' else loading">
        <label>{{ errorMessage ?? 'no message available' }}</label>
    </ow-error>
</ng-template>

<ng-template #loading>
    <section id="loading">
        <h5>Loading...</h5>
    </section>
</ng-template>
