<ow-hero>
    <ow-random-top [word]="word$ | async"/>
</ow-hero>

<ow-word-form *ngIf="word$ | async as word; else error"
              (secondBtnClick)="navToDetail(word.uuid)"
              (submitForm)="update(word.uuid, $event)"
              [word]="word"
              btnText="Save Changes"
              secondBtnText="Cancel"
              [title]="'Edit ' + word.theWord"
              [fieldErrors]="fieldErrors"/>

<ng-template #error>
    <ow-placeholder [state]="state"/>
</ng-template>
