<ow-hero>
    <ow-random-top [word]="word" />
</ow-hero>

<ow-word-form (secondBtnClick)="navToDetail(word.uuid)"
              (submitForm)="update(word.uuid, $event)"
              [setWord]="word"
              btnText="Save Changes"
              secondBtnText="Cancel"
              [title]="'Edit ' + word.theWord"
              [fieldErrors]="fieldErrors"
              [loading]="state !== ComponentState.COMPLETE" />

<section *ngIf="state === ComponentState.LOADING">
    <ow-spinner></ow-spinner>
</section>
