<ow-hero>
    <ow-random-top [word]="word$ | async"></ow-random-top>
</ow-hero>

<article *ngIf="word$ | async as word; else error" id="word">
    <section id="main-detail">

        <div id="top">
            <h2 class="mono">{{word.theWord}}</h2>
            <div id="actions">
                <img alt="pencil in a circle with pink background"
                     src="/assets/image/pencil-circled.svg"
                     (click)="edit(word)"/>
                <img alt="a white plus icon with a circular purple background"
                     src="/assets/image/plus-circled.svg"/>

                <img *ngIf="isLiked; else notLiked"
                     [alt]="'a white, filled heart'"
                     src="/assets/image/heart-filled.svg"
                     class="heart"
                     (click)="likeWord($event, word)"/>
                <ng-template #notLiked>
                    <img [alt]="'a white, outlined heart'"
                         src="/assets/image/heart.svg"
                         class="heart outlined"
                         (click)="likeWord($event, word)"/>
                </ng-template>
            </div>
        </div>

        <p id="definition">{{ word.definition }}</p>
        <p id="part-of-speech">{{ word.partOfSpeech }}</p>
        <div class="pair">
            <span>Pronunciation:&nbsp;</span>
            <p>{{word.pronunciation ? word.pronunciation : 'N/A' }}</p>
        </div>
        <div class="pair">
            <span>Origin:&nbsp;</span>
            <p>{{ word?.origin ? word.origin : 'N/A' }}</p>
        </div>
        <div class="pair">
            <span>Example:&nbsp;</span>
            <p>{{word.exampleUsage ? word.exampleUsage : 'N/A' }}</p>
        </div>
        <div class="pair">
            <span>Discovered At:&nbsp;</span>
            <p>{{word.discoveredAt ? word.discoveredAt : 'N/A' }}</p>
        </div>
        <div id="tags">
            <span>Associated Tags</span>
            <ow-tags [sTags]="tags"></ow-tags>
        </div>
        <div id="synonyms">
            <span>Synonyms</span>
            <ow-tags [sTags]="[]"></ow-tags>
        </div>
        <div id="note">
            <span>Note</span>
            <p>{{word.note ? word.note : 'N/A' }}</p>
        </div>
    </section>

    <hr/>

    <section id="meta-data">
        <div class="column">
            <div class="pair">
                <span>Created By:&nbsp;</span>
                <p>{{ word.createdBy }}</p>
            </div>
            <div class="pair">
                <span>Times Viewed:&nbsp;</span>
                <p>{{ word.timesViewed }}</p>
            </div>
        </div>
        <div class="column">
            <div class="pair creation-date" (click)="navToStats(word)">
                <span>Creation Date:&nbsp;</span>
                <p>{{ word.creationDate | date:'EEEE d MMMM y' }}</p>
            </div>
            <div class="pair">
                <span>Creation Time:&nbsp;</span>
                <p>{{ word.creationDate | date:'h:mm:ss a' }}</p>
            </div>
        </div>
    </section>

</article>

<ng-template #error>
    <ow-error *ngIf="state === 'error' else loading">
        <p>{{ errorMessage ?? 'no message available' }}</p>
    </ow-error>
</ng-template>

<ng-template #loading>
    <section class="loading">
        <h5>Loading...</h5>
    </section>
</ng-template>
