@use '../../style/colour' as colour;
@use '../../style/font' as font;
@use '../../style/mixin' as mxn;

article {

    span {
        color: #ffffff;
    }

    #main-detail {
        #top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: 2rem;
            }

            #actions {
                display: flex;
                align-items: center;
                @include mxn.svg-hover;

                img {
                    width: 40%;

                    &.heart {
                        padding-left: 1rem;
                        width: 27%;

                        &.outlined {
                            width: 20%;
                        }
                    }
                }
            }
        }

        #definition {
            padding-bottom: 10px;
        }

        #part-of-speech {
            color: colour.$secondary;
            padding-bottom: 20px;
        }

        .pair {
            display: flex;
            padding-top: 10px;

            span {
                font-size: .9rem;
                font-family: 'roboto-medium', font.$default-font;
            }
        }

        #tags,
        #synonyms,
        #note {
            padding-top: 10px;

            > span {
                font-family: "roboto-medium", sans-serif;
                font-size: .9rem;
            }
        }

        #synonyms {
            span {
                font-family: 'roboto-medium', font.$default-font;
            }
        }

        #note {
            padding-bottom: 2rem;
            padding-top: 1.5rem;

            p {
                white-space: pre-wrap;
            }
        }
    }

    hr {
        height: 1px;
        width: 5%;
    }

    #meta-data {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 1rem;

        .column {
            .pair {
                display: flex;
                margin-top: 1rem;

                span {
                    font-family: 'roboto-medium', font.$default-font;
                    font-size: .9rem;
                }

                p {
                    font-family: 'roboto-light', font.$default-font;
                }

                &.creation-date {
                    cursor: pointer;
                    transition: all .2s ease;

                    > span {
                        cursor: pointer;
                    }

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

@media screen and (min-width: 600px) {
    .word {
        margin-left: 25%;
        margin-right: 25%;
        padding: 1.5rem 1.5rem 3rem;

        .detail {

            .top {
                display: flex;
                align-items: center;

                .actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mxn.svg-hover;
                }
            }

            #definition {
                font-size: 1rem;
            }

            .pair, .tags {
                padding-top: 30px;
            }
        }

        .meta {
            display: flex;

            .column {
                width: 48%;
            }
        }
    }
}
