@use '../../../style/colour' as colour;
@use '../../../style/mixin' as mxn;

footer {
    height: 100px;
    border-top: 1px solid #121212;
    text-align: center;
    padding: 4rem 4rem 10rem;
    background-color: #0b0b0b;

    // copyright
    > span {
        display: block;
        color: #ffffff;
        margin-top: 1rem;
        font-size: .65rem;
    }

    ::ng-deep nav {
        display: none;
    }
}

@media screen and (min-width: 600px) {

    footer {
        height: auto;
        margin-top: 32px;
        margin-bottom: 0;
        padding: 1rem;

        ::ng-deep nav {
            display: flex;
        }

        > span {
            margin-bottom: 2rem;
        }
    }
}
