<footer>
    <div class="items">
        <div class="item logo">
            <img alt="oworms logo" src="/assets/image/logo.svg">
        </div>
        <div (click)="navigate(item.path)"
             *ngFor="let item of items"
             class="item"
             role="menuitem">
            <label>{{ item.name }}</label>
        </div>
        <div (click)="getCSV()" class="item" role="document">
            <label>csv</label>
        </div>
    </div>
    <div class="signature">
        <label>{{ signature }}</label>
    </div>
</footer>
