@use '../../../style/colour' as colour;

footer {
    height: 100px;
    border-top: 1px solid #121212;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;

    > div > span#copyright {
        color: #ffffff;
        display: block;
        margin-top: 1rem;
        font-size: .75rem;
    }
}

@media screen and (min-width: 600px) {
    footer {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;
        padding: 1rem;
        margin-bottom: 0;

        ul {
            display: flex;
            align-items: center;

            li {
                padding: 1rem;
                transition: background-color .1s ease-in-out;
                cursor: pointer;
                color: #f2f2f2;

                &:hover {
                    label {
                        color: colour.$primary;
                    }
                }

                &:not(last-of-type) {
                    margin-right: .5rem;
                }

                label {
                    cursor: pointer;
                }

                &.active {
                    color: colour.$primary;
                }

                &.logo {
                    margin-right: 2rem;
                }
            }
        }

        > p {
            margin-right: .5rem;
        }
    }
}
