<footer>
    <ul class="items" *ngIf="showMenu">
        <div class="item logo">
            <img alt="oworms logo" src="/assets/image/logo.svg">
        </div>
        <li (click)="navigate(item.path)"
            *ngFor="let item of items"
            class="item"
            role="menuitem">
            <label>{{ item.name }}</label>
        </li>
        <li (click)="getCSV()" class="item" role="document">
            <label>csv</label>
        </li>
    </ul>

    <img *ngIf="!showMenu" alt="oworms logo" src="/assets/image/logo.svg">
    <p>{{ signature }}</p>
</footer>
