@use '../../../style/colour' as colour;

footer {
    height: 100px;
    border-top: 1px solid #121212;
    text-align: center;
    padding: 2rem 2rem 8rem;
    background-color: #0b0b0b;

    > div:first-of-type {
        display: none;
    }

    > div#copyright > span {
        color: #ffffff;
        display: block;
        margin-top: 1rem;
        font-size: .75rem;
    }
}

@media screen and (min-width: 600px) {
    footer {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;
        padding: 1rem;
        margin-bottom: 0;

        > img {
            display: none;
        }

        > div:first-of-type {
            display: flex;
            align-items: center;

            > img {
                cursor: pointer;

                > &:hover {
                    opacity: .8;
                }
            }

            > a {
                display: block;
                margin: 1rem;
                transition: background-color .1s ease-in-out;
                cursor: pointer;
                color: #f2f2f2;
                font-size: .9rem;

                > &:hover {
                    color: colour.$secondary;
                }

                &:not(last-of-type) {
                    margin-right: 1.5rem;
                }

                &.active {
                    color: colour.$secondary;
                }

                > img {
                    margin-right: 2rem;
                }
            }
        }
    }
}
