.credentials {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 48px;

    .title {
        padding-top: .5rem;
    }

    > .row {
        margin-bottom: 16px;
    }
}

.actions {
    width: 25%;
    margin: 2rem auto auto;
    padding-bottom: 40px;
}
