<form [formGroup]="form">
    <div class="row">
        <input [required]="true"
               name="username"
               placeholder="username"
               formControlName="u" />
    </div>
    <div class="row">
        <input [required]="true"
               name="password"
               placeholder="password"
               type="password"
               formControlName="p" />
    </div>
</form>
<section class="actions">
    <button (click)="submit()" [disabled]="buttonDisabled">Authenticate</button>
    <button (click)="cancel()" [disabled]="buttonDisabled" class="below transparent">Cancel</button>
</section>
