form {
    width: 100%;
    padding-top: 48px;
}

.actions {
    width: 100%;
    margin: 2rem auto auto;
    padding-bottom: 40px;
}

@media only screen and (min-width: 600px) {
    form {
        width: auto;
        margin-left: 30%;
        margin-right: 30%;

        > fieldset {
            margin-bottom: 16px;
        }
    }

    .actions {
        width: 25%;
    }

}
