.hero {
    min-height: 350px;
    display: flex;
    padding-top: 80px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4b4242;
    // TODO
    //background-image: url('/assets/image/hero-bg.jpg');

    .content {
        padding-top: 80px;
    }
}
