article {
    min-height: 350px;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    background-image: url('../../../../assets/image/hero-bg.png');
    background-size: 100%;

    .content {
        padding-top: 80px;
    }
}
