h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

section {
    width: 100%;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    > h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &:nth-of-type(1) {

        > div:first-of-type {
            display: flex;
            justify-content: space-between;

            > div {
                border: 1px solid #4b4242;
                border-radius: 5px;
                padding: 1.5rem;
                width: 48%;
                margin: 1rem;

                > span {
                    color: #ffffff;
                    font-size: 1.4rem;
                    font-family: 'roboto-mono-medium', 'sans-serif';
                }
            }
        }
    }
}
