<li (click)="viewWordDetails()" *ngIf="word">

    <img *ngIf="isLiked; else notLiked"
         [alt]="'a white, filled heart'"
         src="/assets/image/heart-filled.svg"
         class="heart"
         (click)="likeWord($event, word)"/>
    <ng-template #notLiked>
        <img [alt]="'a white, outlined heart'"
             src="/assets/image/heart.svg"
             class="heart outlined"
             (click)="likeWord($event, word)"/>
    </ng-template>

    <h5 class="mono">{{ word.theWord }}</h5>
    <label class="part-of-speech">{{ word.partOfSpeech }}</label>
    <p class="definition">{{ word.definition }}</p>
    <section>
        <label>{{ getViews(word) }}</label>
        <label>by {{ word.createdBy }}</label>
    </section>
    <section class="date">
        <label>{{ word.creationDate | date : 'MMMM yyyy HH:mm:ss' }}</label>
    </section>
</li>
