.top {
    padding-bottom: .5rem;
    border-bottom: 1px solid #dedddd;

    .subtitle {
        padding-left: .5rem;
    }
}

.menu {
    border-bottom: 1px solid #dedddd;
    padding-bottom: 1rem;
    padding-top: 1rem;

    .items {
        display: flex;

        .item {
            padding: 1rem;
            border: 1px solid #dedddd;
            transition: background-color .1s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #f6f6f6;
            }

            &:not(last-of-type) {
                margin-right: .5rem;
            }

            label {
                cursor: pointer;
            }
        }
    }

    .active {
        background-color: #faf8f8;
    }
}
