.title {
    padding-bottom: 16px;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .column {
        width: 48%;

        > .row {
            width: 100%;
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }
    }
}

.actions {
    width: 25%;
    margin: 2rem auto auto;
}
