@use '../../style/colour' as colour;
@use '../../style/mixin' as mxn;

div#alerts {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    dialog {
        position: relative;
        z-index: 10000;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #25571a;
        overflow: hidden;
        padding: 1rem;
        font-size: .9rem;
        transition: all .2s ease-in;
        border: none;
        margin-bottom: .2rem;

        &.error {
            background-color: colour.$error;
        }

        &:hover {
            cursor: pointer;
            opacity: .8;
        }

        &:not(:only-child) {
            border: 1px solid #000;
        }

        span {
            color: #ffffff;
        }
    }
}

@media screen and (min-width: 600px) {
    dialog > .alert {
        width: 50%;
    }
}
