@use '../../style/colour' as colour;
@use '../../style/mixin' as mxn;

.alerts {
    position: fixed;
    top: 80px;
    width: 100%;
    height: 50px;

    .alert {
        position: relative;
        z-index: 10000;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3d3737;
        border-color: #3d3737;
        overflow: hidden;
        padding: 1rem;
        @include mxn.svg-hover;

        img {
            margin-left: .5rem;
            margin-right: .5rem;
        }

        &.error {
            background-color: colour.$error;
        }

        &.navigatable {
            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }

        &:not(:only-child) {
            border: 1px solid #000;
        }

        span {
            color: #ffffff;
        }
    }
}
