form {
    width: 100%;
    padding: 2rem;

    div:nth-of-type(2) {
        width: 100%;
        margin: 2rem auto auto;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 762px) {
    form {
        padding: 3rem 5rem 3rem;
    }

    .actions {
        width: 25%;
    }
}
