<ow-hero>
    <ow-random-top title="Enter your credentials"></ow-random-top>
</ow-hero>

<form [formGroup]="form">
    <fieldset>
        <input [required]="true"
               name="username"
               placeholder="username"
               formControlName="u"/>
    </fieldset>
    <fieldset>
        <input [required]="true"
               name="password"
               placeholder="password"
               type="password"
               formControlName="p"/>
    </fieldset>
    <div>
        <button (click)="submit()" [disabled]="buttonDisabled">Authenticate</button>
        <button (click)="cancel()" class="below transparent">Cancel</button>
    </div>
</form>
