<ow-hero>
    <ow-random-top title="Enter your credentials"/>
</ow-hero>

<form [formGroup]="form" *ngIf="state !== ComponentState.LOADING; else placeholder">
    <fieldset>
        <input [required]="true"
               name="username"
               placeholder="username"
               formControlName="u"/>
    </fieldset>
    <fieldset>
        <input [required]="true"
               name="password"
               placeholder="password"
               type="password"
               formControlName="p"/>
    </fieldset>
    <div>
        <button (click)="submit()" [disabled]="form?.invalid">Authenticate</button>
        <button (click)="cancel()" class="below transparent">Cancel</button>
    </div>
</form>

<ng-template #placeholder>
    <ow-placeholder [state]="state" [errorMessage]="errorMessage"></ow-placeholder>
</ng-template>
