form {
    width: 100%;
    padding: 2rem;

    > div {
        width: 100%;
        margin: 2rem auto auto;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 762px) {
    form {
        padding-top: 8rem;
        padding-left: 25%;
        padding-right: 25%;

        > div {
            width: 60%;
        }
    }
}
