<ow-hero>
    <ow-random-top></ow-random-top>
</ow-hero>

<h2 class="title">My Profile</h2>
<article class="profile">

    <section class="column">
        <h5>Word Statistics</h5>
        <span>Liked: {{ profile?.likedWords?.length ?? 0 }}</span>
        <span>Created: {{ profile?.createdWordCount ?? 0 }}</span>

        <ul class="words">
            <li *ngFor="let word of profile?.likedWords">
                <h3>
                    {{ word.theWord }}
                </h3>
                <p>{{ word.definition }}</p>
            </li>
        </ul>

    </section>

    <section class="column">
        <h5 class="user-details">User Details</h5>
        <form [formGroup]="form">
            <fieldset>
                <input formControlName="username" name="username" placeholder="username" />
            </fieldset>
            <fieldset>
                <input formControlName="email" name="email" placeholder="email" type="email" />
            </fieldset>
        </form>

        <div class="actions">
            <button (click)="update()" [disabled]="form.invalid">
                Save Changes
            </button>
        </div>
    </section>

</article>
