.title {
    padding-bottom: 16px;
    padding-left: .5rem;
    text-align: center;
}

.profile {

    section {
        p:last-of-type {
            margin-bottom: 1rem;
        }
    }

    .column {
        padding: .5rem;

        span {
            color: #ffffff;
        }

        h5 {
            margin-bottom: 1rem;
        }
    }

}

form {
    width: 100%;

    > fieldset {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.actions {
    width: 100%;
}

@media screen and (min-width: 600px) {

    .title {
        text-align: left;
    }

    .profile {
        display: flex;
    }

    .column {
        width: 48%;
        min-height: 300px;
        overflow-y: scroll;
    }

    .actions {
        width: 25%;
        margin: 2rem auto auto;
    }
}
