//Ã@use '../../style/_colour' as aa; WHY NO WORK?

#title {
    padding: 1rem;
    text-align: center;
}

article {

    section {
        padding: .5rem;

        span {
            color: #35F29A;
            font-size: 1.1rem;

            &:last-of-type {
                margin-left: .5rem;
            }
        }

        h5 {
            margin-bottom: 1rem;
        }

        ul {
            overflow-y: scroll;
            width: 100%;

            li {
                & {
                    margin-bottom: 1rem;
                    transition: all .3s ease-in;
                }

                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }

                h3 {
                    margin-bottom: .3rem;
                }

                p {
                    font-size: .8rem;

                    &:last-of-type {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

form {
    width: 100%;

    > fieldset {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

#actions {
    width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 600px) {

    #title {
        text-align: left;
    }

    article {
        display: flex;
    }

    section {
        width: 48%;

        ul {
            max-height: 300px;
        }

        #actions {
            width: 70%;
            margin: 2rem auto auto;
        }
    }
}
