<ow-hero>
    <ow-random-top></ow-random-top>
</ow-hero>

<h2 id="title">My Profile</h2>
<article>

    <section>
        <h5 class="user-details">User Details</h5>
        <form [formGroup]="form">
            <fieldset>
                <input formControlName="username" name="username" placeholder="username" />
            </fieldset>
            <fieldset>
                <input formControlName="email" name="email" placeholder="email" type="email" />
            </fieldset>
        </form>

        <div id="actions">
            <button (click)="update()" [disabled]="form.invalid">
                Save Changes
            </button>
        </div>
    </section>

    <section>
        <h5>Word Statistics</h5>
        <span>Liked: {{ existing?.likedWords?.length ?? 0 }}</span>
        <span>Created: {{ existing?.createdWordCount ?? 0 }}</span>

        <ul id="words">
            <li *ngFor="let word of existing?.likedWords" (click)="navToWord(word)">
                <h3>
                    {{ word.theWord }}
                </h3>
                <p>{{ word.definition }}</p>
            </li>
        </ul>

    </section>

</article>
