.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(.show) {
        display: none;
    }
}
