$default-font: sans-serif;

@font-face {
    font-family: 'roboto-regular';
    src: url('../../assets/font/roboto-regular.ttf');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../../assets/font/roboto-medium.ttf');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../../assets/font/roboto-light.ttf');
}

@font-face {
    font-family: 'roboto-mono-medium';
    src: url('../../assets/font/roboto-mono-medium.ttf');
}
