$default-font: sans-serif;

@font-face {
    font-family: 'ssp-regular';
    src: url('../../asset/font/source-sans-pro-regular.ttf');
}

@font-face {
    font-family: 'ssp-light';
    src: url('../../asset/font/source-sans-pro-light.ttf');
}

@font-face {
    font-family: 'ssp-italic';
    src: url('../../asset/font/source-sans-pro-italic.ttf');
}
