@use './colour' as colour;
@use './mixin' as mxn;

input {
    @include mxn.input();

    &:focus-visible {
        border: 1px solid colour.$primary;
        box-shadow: none;
        outline: none;
    }

    &.search {
        border: 1px solid #909090;
        border-radius: 18px;
        background-color: transparent;
    }

    &.error {
        border: 1px solid colour.$error;
    }
}
