@mixin input {
    width: 100%;
    color: #ffffff;
    background-color: #252728;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: .7rem;
    transition: all .1s ease-out;
}

@mixin svg-hover {
    img {
        cursor: pointer;
        transition: all .2s;

        &:hover {
            opacity: .8;
        }
    }
}
