@use './colour' as colour;

@mixin input {
    width: 100%;
    color: #ffffff;
    background-color: colour.$input-bg;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: .7rem;
    @include transition;
}

@mixin opacity-hover {
    cursor: pointer;
    @include transition;

    &:hover {
        opacity: .8;
    }
}

@mixin nav-link {
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #939191;
    @include transition;
}

@mixin transition {
    transition: all .25s ease-in;
}
