section {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;

    h1 {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 600px) {
    section {
        width: 100%;
        margin: auto;
    }
}
