section {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2rem;
}

@media screen and (min-width: 600px) {
    section {
        width: auto;
        text-align: center;
        padding: 3%;
        margin: 2rem 20%;

        h1 {
            margin-bottom: 16px;
        }
    }
}
