div#overlay {
    position: absolute; // dirty. fix.
    display: block;
    overflow-y: scroll;
    width: 0;
    height: 9999px;
    background-color: #121212;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90000;
    transition: all .5s ease-in;
    transform: translateX(100%);

    &.show {
        width: 100%;
        transform: translateX(0);
        padding: 1rem;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }
}

form {
    width: 100%;

    > div {
        width: 100%;

        > fieldset {
            width: 100%;
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }
    }
}

#actions {
    width: 100%;
    padding: 1.5rem;
}

@media screen and (min-width: 600px) {
    section#overlay > h2 {
        font-size: 3rem;
        text-align: left;
    }
}

@media screen and (min-width: 920px) {

    section#overlay {
        padding-left: 20rem;
        padding-right: 20rem;
        left: 0;
        right: 0;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
        overflow-y: hidden;
    }

    form {
        display: flex;
        justify-content: space-between;

        > div {
            width: 48%;

            > fieldset {
                width: 100%;
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
            }
        }
    }

    #actions {
        width: 25%;
        margin: 2rem auto auto;
    }

}
