.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    padding-bottom: 47px;
}

#words > div {
    padding: .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

#actions {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

@media screen and (min-width: 1300px) {
    #words {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (min-width: 600px) {
    #actions {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (max-width: 600px) {
    #actions {
        width: 100%;
        flex-wrap: wrap;
        padding: 2rem;

        > button {
            width: 100%;
            margin-left: 0;

            &:not(:last-of-type) {
                margin-bottom: .5rem;
            }
        }
    }
}
