section {
    > div:first-of-type {
        padding: .5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: hidden;
    }

    > div:last-of-type {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 1300px) {
    section {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (min-width: 600px) {
    section > div:last-of-type {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (max-width: 600px) {
    section > div:last-of-type {
        width: 100%;
        flex-wrap: wrap;
        padding: 2rem;
    }
}
