<ow-hero>
    <ow-random-top></ow-random-top>
</ow-hero>

<ow-filter></ow-filter>

<section id="words" *ngIf="state !== 'error'; else error">
    <ow-word-card *ngFor="let word of words | chunkPipe: wordsToShow" [word]="word"></ow-word-card>
</section>

<section id="actions">
    <button class="transparent"
            (click)="showMoreOrLess(false)"
            [disabled]="increment > wordsToShow">
        Show {{ increment }} Less
    </button>
    <button class="transparent below"
            (click)="showMoreOrLess(true)">
        Show {{ increment }} more
    </button>
    <button (click)="showAll()" class="below">
        Show All
    </button>
</section>

<ng-template #error>
    <ow-error>
        <label>{{ errorMessage ?? 'No error message available' }}</label>
    </ow-error>
</ng-template>
