<ow-hero>
    <ow-random-top></ow-random-top>
</ow-hero>

<ow-filter></ow-filter>

<ng-container *ngIf="words && !loading; else error">

    <section id="words">
        <ow-word-card *ngFor="let word of words | chunkPipe: (wordsToShow$ | async)" [word]="word"></ow-word-card>
    </section>

    <section class="actions">
        <button (click)="showMoreOrLess(false)"
                [disabled]="increment > (wordsToShow$ | async)">
            Show {{ increment }} Less
        </button>
        <button (click)="showMoreOrLess(true)">
            Show {{ increment }} more
        </button>
        <button (click)="showAll()" class="transparent">
            Show All
        </button>
    </section>

</ng-container>

<ng-template #error>
    <ow-error *ngIf="state === 'error' else loading">
        <label>{{ errorMessage ?? 'no message available' }}</label>
    </ow-error>
</ng-template>

<ng-template #loading>
    <section class="loading">
        <h5>Loading...</h5>
    </section>
</ng-template>
