@use '../../../../style/colour' as colour;
@use '../../../../style/font' as font;

article {
    text-align: center;
    color: #ffffff;

    // styling it exactly the same as an h1
    a {
        font-family: 'roboto-mono-medium', font.$default-font;
        letter-spacing: 3.6px;
        font-weight: 500;
        font-size: 3.75rem; // 60px
        font-style: normal;
        color: #ffffff;
        transition: all .15s ease-in-out;
        cursor: pointer;
        word-wrap: anywhere;

        &:hover {
            color: colour.$primary;
        }
    }

    p {
        font-size: .75rem;
        padding-bottom: 1rem;
        padding-top: .5rem;
    }

    span {
        color: #ffffff;

        &.creator {
            color: colour.$secondary;
        }
    }
}

@media screen and (max-width: 600px) {
    article > a {
        font-size: 2rem;
    }
}
